.DS_Store
*/.DS_Store
ea_env/
.vscode/
_/
node_modules/
package-lock.json
save.json


epoqueart/media/*

#ENV FILES
.env.dev
.env.prod
.env.prod.db
.env.dev.db
.env.prod.proxy-companion
epoqueart/logs/debug.log
