{% extends 'main/base.html' %}
{% load i18n %}

{% block title%}
<title>EpoqueArt - 404 Not found</title>
{% endblock %}

{% block nav-active %}
<a class="nav-link" href="{% url 'home' %}">Home</a>
{% endblock %}

{% block content %}
<div class="display-4 gsbold main">
    <h1 class="display-4 error gsbold" id='errorEmoji'>\(o_o)/</h1>
    <h2 class="gsregular">404 - Not Found</h2>
    <h5 class='lead gsregular'>Lost? Return to the <a class='back-home' href="/" style="color:#2196f3;">home</a> page</h5>
</div>
<script>
const errorEmoji = document.getElementById('errorEmoji')

function getRandomEmoji() {
    let emojiList = ['(>_<)', '(≥o≤)', '(^_^)', '\\\(o_o)/', '(·.·)', '(˚Δ˚)', '(·_·)', '(o^^)', '(^-^*)', "(='X'=)", '(;-;)', '\\(^Д^)/', '(--_--)', '(T_T)', '(x_x)', '(+_+)', '¯\\\_(ツ)_/¯'];
    let random = emojiList[Math.floor(Math.random() * emojiList.length)];
    return random;
}

$(document).ready(function() {
    errorEmoji.innerText = getRandomEmoji()
});
</script>
{% endblock %}