{% load static %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Gallery</title>
    {% endblock %}
    {% block pre_assets %}
    {% endblock %}
    <script>
        var exports = {};
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    {% compress css file app%}
    <link type="text/x-scss" href="{% static 'css/theme.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    {% compress css file bootstrap %}
    <link type="text/x-scss" href="{% static 'bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    {% block post_assets %}
    {% endblock %}

    {% block meta %}
    <meta name="title" content="EpoqueArt - Gallery Art Community">
    <meta name="description" content="Sample Desc">
    <meta name="keywords" content="epoque,epoqueart,art,gallery,paint,painting,buy painting,buy paintings,miami,miami gallery,miami art">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="appxpy">
    {% endblock meta %}

    {% block favicon %}
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}"> 
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    {% endblock favicon %}

</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="nav-logo-container gsregular">
                <div class="logo">
                    {% block logo %}
                    {% include "components/logo.html" %}
                    {% endblock %}
                    <div class="logo-name gslight">
                        Gallery Art Community
                    </div>
                </div>
                {% include "components/social-links.html" %}
                <div class="contacts">
                    <a href="tel:+17868235065">+1 786-823-5065</a>
                    <a href="mailto:info@epoque.art">info@epoque.art</a>
                </div>
                <button
                    class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around align-items-center"
                    type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon top-bar"></span>
                    <span class="toggler-icon middle-bar"></span>
                    <span class="toggler-icon bottom-bar"></span>
                </button>
            </div>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gslight">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'artists' %}" class="nav-link">Artists</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'collection' %}" class="nav-link">Collection</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'on_demand' %}" class="nav-link">On demand</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'interior' %}" class="nav-link">Interiors</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="nav-link">About us</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'gallery' %}" class="nav-link">NetGallery</a>
                        </li>
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                            <li class="nav-item">
                                <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>
                            </li>
                            {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'user_logout' %}" class="nav-login-link">Log out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'admin:login' %}" class="nav-login-link">Log in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            {% block content %}
            {% include 'components/in-development.html' %}
            {% endblock %}
        </div>
        <footer>
            <div class="footer-text-container gslight">
                <span class="footer-text">www.epoqueart.com</span>
                <span class="footer-text-muted">Powered by <a class="footer-copyright-link" href="https://appxpy.com">appxpy</a></span>
            </div>
        </footer>
    </main>
    <script>
        (function($) {
            $('img').on('error', function() {this.src = "{% static 'img/no-image.svg' %}"; $(this).closest("section").children(".error-hide").addClass("error");})
            $('div.aos-block').attr('data-aos', 'fade-up');
            $('main').on('scroll', function () {AOS.refresh();});
            AOS.init({
                duration: 1000,
            });
        })(jQuery);
    </script>
    {% compress js file dynamic %}
    {% block scripts %}
    {% endblock scripts %}
    {% endcompress %}
</body>

</html>