{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}
{% block title%}
<title>EpoqueArt - Home</title>
<link rel="preload" as="image" href="{% static 'img/bg2.jpeg' %}">
<link rel="preload" as="image" href="{% static 'img/bg3.jpeg' %}">
<link rel="preload" as="image" href="{% static 'img/bg4.jpeg' %}">
{% endblock %}

{% block nav-active %}
{% comment %} <a class="nav-link active" href="{% url 'home' %}">{% trans 'HomeNavBar' %}</a> {% endcomment %}
{% endblock %}
{% block content %}
<div class="display-4 gsbold main">
    <h1 class="display-4 gslight">Opening soon...</h1>
    <p class="lead gslight">You can subscribe to our social networks and follow the updates.</p>
    <br>
    <p class="social d-flex justify-content-center">
        <a href="tg://resolve?domain=epoqueart" class="mx-2" data-tooltip="Telegram">
            <span class="mdi mdi-telegram"></span>
        </a>
        <a href="//facebook.com/epoqueart" class="mx-2" data-tooltip="Facebook">
            <span class="mdi mdi-facebook"></span>
        </a>
    </p>
</div>
<script>
    var images = ['{% static 'img/bg2.jpeg' %}','{% static 'img/bg3.jpeg' %}','{% static 'img/bg4.jpeg' %}'];
    var c = 0;
    $('body').ready(function() {
        setInterval(function() {
            console.log('Changed!')
            $('body').attr('style', 'background-image: url('+images[c % images.length]+');');
            c += 1;
        }, 5000)
    });
</script>
<style>
    body {
        background: url('{% static 'img/bg2.jpeg' %}') no-repeat center center fixed !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        transition: background 300ms ease-in 200ms;
    }

    a.mx-2 {
        background-color: rgba(0, 0, 0, .3);
    }

    footer.mastfoot.mt-auto {
        color: #666;
    }
</style>
{% endblock %}
