{% if not authors and not artworks %}
<i class='bi bi-x-lg mx-auto'></i><span class='search-results__empty mx-auto'>No results</span><span
    class='search-result__empty_sub mx-auto'>Try to edit your query</span>
{% else %}
{% if authors %}
<div class="search-results__category-container">
    <span class="search-results__category">Authors</span>
    {% for author in authors %}
    <a href="?aid={{ author.id }}" class="search-results__link">
        <div class="search-results__box">
            <img class="search-results__image" src="{{ author.preview_image.url }}" alt="Avatar">
            <span class="search-results__title">{{ author.name|safe }}</span>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% if artworks %}
<div class="search-results__category-container">
    <span class="search-results__category">Artworks</span>
    {% for artwork in artworks %}
    <a href="?pid={{ artwork.id }}" class="search-results__link">
        <div class="search-results__box">
            <img class="search-results__image" src="{{ artwork.image.url }}" alt="Image">
            <div class="search-results__painting-info">
                <span class="search-results__info-author">{{ artwork.title|safe }}</span>
                <span class="search-results__info-title">{{ artwork.author.name|safe }}</span>
            </div>
            <span class="search-results__painting-price">{{ artwork.price }}$</span>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% endif %}