/*
█▀▀ █▀█ █ █▄░█ █▀▀ █▀▀
█▄▄ █▀▄ █ █░▀█ █▄█ ██▄
*/
@font-face {
    font-family: 'Google Sans Regular';
    src: local('Google Sans Regular'), local('Google-Sans-Regular'),
        url('GoogleSans-Regular.woff2') format('woff2'),
        url('GoogleSans-Regular.woff') format('woff'),
        url('GoogleSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Google Sans Medium';;
    src: url(/static/css/GoogleSans-Medium.ttf) format('truetype')
}

@font-face {
    font-family: 'Google Sans Bold';
    src: local('Google Sans Bold'), local('Google-Sans-Bold'),
        url('GoogleSans-Bold.woff2') format('woff2'),
        url('GoogleSans-Bold.woff') format('woff'),
        url('GoogleSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


html,
body {
    height: 100%;
    -ms-overflow-style: none
}

#container {
    -webkit-tap-highlight-color: transparent;
    font-family: font-family: 'Google Sans Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #F5F5F5 !important;
    text-align: center !important;
    user-select: none;
    box-sizing: border-box;
    display: flex !important;
    max-width: 42em;
    width: 100% !important;
    height: 100% !important;
    padding: 1rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
    flex-direction: column !important;
}

#header {
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #F5F5F5 !important;
    text-align: center !important;
    user-select: none;
    box-sizing: border-box;
    display: block;
    margin-bottom: auto !important;
    background-color: transparent;
}

#header a:link, #header a:visited {
    color: #9E9E9E;
}

#header a:hover {
    text-decoration: none;
    color: #F34826;
}

.active {
    color: #f5f5f5 !important;
}

#nav-sidebar {
    border-right: none;
    background-color: transparent;
}

.toggle-nav-sidebar {
    display: none;
}

div.breadcrumbs {
    background: transparent;
    padding: 10px 40px;
    border: none;
    color: #9E9E9E;
}

div.breadcrumbs a {
    color: #9E9E9E;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #F34826;
    transition: 0.3s;
}

#nav-sidebar {
    padding-left: 40px;
}

#nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited {
    font-family: 'Google Sans Medium', sans-serif;
    font-weight: normal;
    color: #ffeb3b;
}
.module h2, .module caption, .inline-group h2 {
    font-family: 'Google Sans Medium', sans-serif;
    background: #2F2E33;
    color: #fff;
}

a.section:focus, a.section:hover {
    text-decoration: none;
    color: #F34826;
    transition: 0.3s;
}

.addlink {
    background: url('/static/img/plus.svg') 0 1px no-repeat;
    padding-bottom: 2px;
}

td, th {
    background: #1F1F1F;
    border-bottom: none;
    font-family: 'Google Sans Regular', sans-serif;
}

a:link, a:visited {
    color: #BFBFBF;
    text-decoration: none;
}

a:hover {
    color: #F34826;
    transition: 0.3s;
}

#content h1 {
    margin-block-start: 0;
}

#content {
    padding: 0px 40px;
}

.module {
    background: transparent;
}

label {
    color: #fff !important;
}

.required label, label.required {
    color: #fff !important;
}

.form-row {
    border-bottom: none !important;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel], textarea, select, .vTextField {
    border: 1px solid #333542;
    border-radius: 4px;
    background-color: #2F2E33;
    padding: 5px 6px;
    margin-top: 0;
    color: #fff;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus, .vTextField:focus {
    border-color: #333542;
    color: #fff;
}

input[type=file] {
    background-color: #2F2E33;
    border: 0px solid black;
    border-radius: 5px;
    color: #fff;

}
.form-row {     
    overflow: hidden;
    margin: 10px;
    font-size: 13px;
    background-color: #1F1F1F;
    border: 0px solid black;
    border-radius: 10px;
}

.form-row input {
    font-family: 'Google Sans Regular', sans-serif;
    color: white;
}

.submit-row {
    background: transparent !important;
    border: none !important;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #2F2E33 !important;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #F24927 !important;
}


.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #B3361D !important;
    transition: 0.3s;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #DB3918 !important;
    transition: 0.3s;
}

#content-related {
    background: #1F1F1F;
}

#content-related .module h2 {
    border-bottom: none;
    font-family: 'Google Sans Medium', sans-serif;
    background: #2F2E33;
    color: #fff;
}

#content-related h3 {
    color: #fff;
}

#changelist .paginator {
    margin-top: 20px;
    color: #fff !important;
    border: 0px solid black !important;
    background: #1F1F1F !important;
    border-radius: 15px;
}

.object-tools a:focus, .object-tools a:hover {
    background-color: #F24927;
}

#changelist #toolbar {
    display: none;
}

#changelist .actions {
    background: #1F1F1F !important;
}

thead th {
    border: none;
    background: #1F1F1F !important;
}

.selector .selector-available h2 {
    background: #1F1F1F !important;
    color: #fff !important;
    border: none !important;
}

.selector .selector-filter {
    background: #1F1F1F !important;
    border: none !important;
    color: #FFF !important;
}

.selector select {
    max-height: 700px !important;
    font-family: 'Google Sans Regular', sans-serif;
}

.form-row select[multiple] {
    height: 510px !important;
    font-family: 'Google Sans Regular', sans-serif;
}

.selector ul.selector-chooser {
    padding: unset !important;
    font-family: 'Google Sans Regular', sans-serif;
}

.selector-chosen h2 {
    background: #F24927 !important;
    border: none !important;
}

.selector ul.selector-chooser {
    background-color: #1F1F1F !important;
}

a.active.selector-chooseall:focus, a.active.selector-clearall:focus,
a.active.selector-chooseall:hover, a.active.selector-clearall:hover {
    color: unset;
}

#changelist .actions select {
    color: #fff !important;
    background: #1F1F1F !important;
    border-color: #1F1F1F !important;
    font-family: 'Google Sans Regular', sans-serif;
}

#changelist .actions select:visited select:active {
    color: #fff !important;
    background: #1F1F1F !important;
    border-color: #1F1F1F !important;
}

#changelist .actions .button:focus, #changelist .actions .button:hover {
    border: none !important;
    color: #fff !important;
    font-family: 'Google Sans Regular', sans-serif;
}

#changelist .actions .button {
    font-family: 'Google Sans Regular', sans-serif;
    border: none !important;
    color: #fff !important;
}


#changelist-filter {
    font-family: 'Google Sans Regular', sans-serif;
    background-color: #1F1F1F !important;
}

#changelist-filter li.selected {
    font-family: 'Google Sans Regular', sans-serif;
    border-left: 5px solid #F24927 !important;
}

#changelist-filter li.selected a, a:hover {
    font-family: 'Google Sans Regular', sans-serif;
    color: #F24927 !important;
}

.object-tools a.addlink:hover {
    font-family: 'Google Sans Regular', sans-serif;
    color: #1F1F1F !important;
    background-color: #F24927 !important;
}

.object-tools a.addlink {
    font-family: 'Google Sans Regular', sans-serif;
    background-color: #1F1F1F !important;
}

.submit-row a.deletelink:focus, .submit-row a.deletelink:hover, .submit-row a.deletelink:active {
    background: #a41515;
}

.submit-row a.deletelink {
    background: #ba2121 !important;
    border-radius: 4px !important;
    padding: 10px 15px !important;
    height: 35px !important;
    line-height: 15px !important;
    color: #fff !important;
}